<% content_for :title do %>
  Spree Administration: <%= Spree::Subscription.model_name.human %> <%= @subscription.number %>
<% end %>

<% content_for :page_title do %>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0"><%= Spree::Subscription.model_name.human %> <%= @subscription.number %></h3>

    <div>
      <span data-id="<%= @subscription.id %>">
        <% unless @subscription.not_changeable? %>
          <span id="pause_links">
            <%= render partial: 'pause_links' %>
          </span>
        <% end %>
        <%= button_link_to Spree.t(:back_to_subscriptions_list), spree.admin_subscriptions_path, class: 'btn btn-primary', icon: 'chevron-left.svg' %>
      </span>
    </div>
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @subscription } %>

<%= form_for [:admin, @subscription] do |f| %>
  <%= render partial: 'summary', locals: { f: f } %>
  <%= render partial: 'item', locals: { f: f } %>
  <%= render partial: 'payment_info', locals: { f: f } %>
  <%= render partial: 'addresses', locals: { f: f } %>
  <%= render partial: 'orders' %>
  <% unless @subscription.not_changeable? %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  <% end %>
<% end %>
