<div data-hook="account_my_subscriptions" class="account-my-subscriptions container mt-4">
  <h3 class="mb-4 text-center"><%= Spree.t(:my_subscriptions) %></h3>
  <% if @subscriptions.present? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col" class="subscription-number text-center"><%= Spree::Subscription.human_attribute_name(:number) %></th>
            <th scope="col" class="subscription-product-name text-center"><%= Spree.t(:product_name) %></th>
            <th scope="col" class="subscription-price text-center"><%= Spree.t(:price) %></th>
            <th scope="col" class="subscription-started text-center"><%= Spree.t(:started_at) %></th>
            <th scope="col" class="subscription-frequency text-center"><%= Spree.t(:delivery_interval) %></th>
            <th scope="col" class="subscription-next-occurrence-possible text-center"><%= Spree.t(:possible_occurence) %></th>
            <th scope="col" class="subscription-delivery-number text-center"><%= Spree.t(:total_deliveries) %></th>
            <th scope="col" class="subscription-deliveries-left text-center"><%= Spree.t(:deliveries_left) %></th>
            <th scope="col" class="subscription-actions text-center"><%= Spree.t(:action_links) %></th>
          </tr>
        </thead>
        <tbody id="user_subscriptions">
          <%= render @subscriptions %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="text-center no-objects-found m-5">
      <%= Spree.t(:you_have_no_subscriptions_yet) %>
    </div>
  <% end %>
</div>
