<div class="container mt-3">
  <div class="row">
    <div class="h3 col-sm-6">Subscription <%= @subscription.number %></div>
    <div class="col-sm-6 text-right h3" data-id="<%= @subscription.id %>">
      <% if !@subscription.not_changeable? %>
        <span id="pause_links">
          <%= render partial: 'pause_links', locals: { btn_class: "btn" } %>
        </span>
        <span>
          <%= link_to Spree.t("subscriptions.admin.cancel"), cancel_subscription_path(@subscription), method: :patch, class: 'btn-danger btn', data: { confirm: Spree.t("confirm.cancel") } %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @subscription } %>

  <%= form_for @subscription do |f| %>
    <%= render partial: 'summary', locals: { f: f } %>
    <%= render partial: 'item', locals: { f: f } %>
    <%= render partial: 'payment_info', locals: { f: f } %>
    <%= render partial: 'addresses', locals: { f: f } %>
    <%= render partial: 'orders' %>
    <% unless @subscription.not_changeable? %>
      <div class="form-actions my-4" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save.svg', 'submit', { data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), account_path, icon: 'cancel.svg' %>
      </div>
    <% end %>
  <% end %>
</div>
